<% include partials/header.ejs %>

<div class="container">
<header class="jumbotron">
<div class="container">
    
    <h1>Kolegiada - activities</h1>
    <p>View and add anything you wanna do!<p>
    <p>
        <a class="btn btn-primary btn-lg" href="/activities/new">Add new activity </a>
    </p>
</div>
</header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% activities.forEach(function(activity){ %>
            <div class="col-lg-4 col-sm-6">   
                <div class="thumbnail">
                    <img src=" <%= activity.image %> ">
                    <div class="caption">
                        <h4><%= activity.name %></h4> 
                    </div>
                    <p>
                        <a href="activities/<%= activity._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div> 
            </div>
        <% }); %>
    </div>
</div>


<% include partials/footer.ejs %>